@import "tailwindcss";

@theme {
  --color-base: #1a1a1a;
  --color-base-dark: #121212;
  --color-accent: #c9a84c;
  --color-accent-hover: #b3923a;
}

body {
  background-color: var(--color-base);
  color: white;
}
